.welcome{
    text-align: center;
}

.welcome p{
    font-size: 70px;
}

.search-btn{
    margin: 0 50px 0 0px;
}

.srch-opn{
    margin: 0px 0px 0px 0px;
    width: auto;
}

.srch-opn label{
    font-weight: bold;
    
}

button, label{
    float: right;
}

.formTitle{
    text-align: right;
}

.login-countainer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
